<%= form_for @changeset, endpoint_path(@conn, :create, 1), fn f -> %>

  <%= text_input f, :name %>
  <%= error_tag f, :name %>

    <%= text_input f, :url %>
    <%= error_tag f, :url %>
    <%= text_input f, :type %>
    <%= text_input f, :delay %>
    <%= textarea f, :body %>
  
  <%= submit "Submit" %>
<% end %>      